.card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 10px; /* Adjust spacing between cards */
  }

.image-coin{
    width: 50px;
    height: 50px;
}
.track-switch{
    height: 15px;

}
.parallax-section {
  background-image: url('./assets/img/background.jpg');
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity by changing the last value (0.5 in this example) */
  background-blend-mode: multiply; /* Optional: adjust blending mode as needed */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; /* Adjust height as needed */
  padding-bottom: 400px;
}


/* Additional styling to ensure other content doesn't overlap */
.home-section {
  padding-top: 100px; /* Adjust as needed based on your navbar height */
}

.home-text {
  color: white;
  text-align: center; /* Adjust as needed based on your navbar height */
}
.ghost{
  background-color: transparent;
  color: white;
  height: 200px;
  width: 200px;

}